*{
    margin: 0;
}
:root {
    --main-heading-size: 2.5rem;
}

.header-main {
    background-color: aqua;
    position: relative;
    overflow-x: hidden;
}

.bar-col {
    background-color: rgba(0, 0, 0, 0);
}

.nav-bar {
    background-color: rgba(0, 0, 0, 0.5);
}

.header-text-small {
    font-size: 0.7rem !important;
}

.date-bar::-webkit-calendar-picker-indicator {
    background: transparent;
}

.main-island {
    width: 100%;
    top: 120px;
}
.stick{
    position: sticky;
    top: 0;
}

/* for hero text */


@media screen {
    .island {
        width: 95vw;
        height: 75px;
        background-color: white;
        top: 120px;
        border-radius: 15px;
        overflow-x: hidden;
        padding-left: 45px;
    }
    .destination-div1 {
        font-size: 0.8em;
        padding-top: 5px;
    }

    .destination-div2 {
        font-size: 0.8em;
        padding-left: 40px;
    }

    .dropdown-text {
        font-size: 4vw !important;
        font-weight: 500 !important;
    }

    .date-bar {
        width: 200px !important;
        font-size: 4vw !important;
        border-style: none !important;
        font-weight: 500 !important;
    }

    .island-btn-dark {
        display: none !important;
    }

    .header-heading {
        top: 65%;
        left: 8%;
        font-weight: 700;
        font-size: 2.2rem;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    /* following are positioned to .header-heading */
    .header-text {
        margin-top: -10px;
        font-weight: 500;
        font-size: 1rem;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .header-btn {
        margin-top: 25px;
        width: 100px;
        height: 30px !important;
        padding-bottom: 20px !important;
        padding-top: 2px !important;
        font-size: small !important;
        font-weight: 500 !important;
    }

}
@media screen and (min-width:576px){
    .island {
        width: 95vw;
        height: 75px;
        background-color: white;
        top: 120px;
        border-radius: 15px;
        overflow-x: hidden;
        padding-left: 0px;
    }
    
    .dropdown-text {
        font-size: 2.5vw !important;
        font-weight: 500 !important;
    }

    .date-bar {
        width: 200px !important;
        font-size: 2.5vw !important;
        border-style: none !important;
        font-weight: 500 !important;
    }
}

.main-island.sticky {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1050 !important;
    padding: 10px 0;
    background-color: white;
    animation: slideDown 0.3s ease; 
}


@media screen and (min-width:768px) {
    .island {
        width: 80vw;
        height: 75px;
        background-color: white;
        top: 120px;
        border-radius: 15px;
    }
    .destination-div1 {
        font-size: 0.8em;
        padding-top: 5px;
    }

    .destination-div2 {
        font-size: 0.8em;
        padding-left: 40px;
        padding-top: 5px;
    }

    .dropdown-text {
        font-size: large !important;
        font-weight: 500 !important;
    }

    .date-bar {
        width: 150px !important;
        font-size: large !important;
        border-style: none !important;
        font-weight: 500 !important;
    }

    .island-btn-dark {
        display: none !important;
    }

    .header-heading {
        top: 50%;
        left: 10%;
        font-weight: 700;
        font-size: 2.2rem;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    /* following are positioned to .header-heading */
    .header-text {
        top: 67%;
        margin-top: 15px;
        font-weight: 500;
        font-size: 1rem;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .header-btn {
        top: 80%;
        margin-top: 30px;
        width: 100px;
        height: 30px !important;
        padding-bottom: 20px !important;
        padding-top: 2px !important;
        font-size: small !important;
        font-weight: 500 !important;
    }

}

@media screen and (min-width:992px) {
    .island {
        width: 90vw;
        height: 75px;
        background-color: white;
        top: 120px;
        border-radius: 15px;
    }
    .destination-div1 {
        font-size: 0.8em;
        padding-top: 5px;
    }

    .destination-div2 {
        font-size: 0.8em;
        padding-left: 40px;
    }

    .dropdown-text {
        font-size: x-large !important;
        font-weight: 500 !important;
    }

    .date-bar {
        width: 250px !important;
        font-size: x-large !important;
        border-style: none !important;
        font-weight: 500 !important;
    }

    .island-btn-dark {
        display: inline !important;
        width: 250px;
        height: 50px;
        border-radius: 100px !important;
    }

    .header-heading {
        top: 45%;
        left: 15%;
        font-weight: 700;
        font-size: var(--main-heading-size);
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .header-text {
        font-weight: 500;
        font-size: 1rem;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .header-btn {
        width: 130px;
        height: 35px !important;
        padding-bottom: 20px !important;
        padding-top: 2px !important;
        font-size: large !important;
        font-weight: 500 !important;
    }

}

@media screen and (min-width:1200px) {
    .island {
        width: 80vw;
        height: 85px;
        background-color: white;
        top: 120px;
        border-radius: 15px;
    }

    .destination-div1 {
        font-size: 0.8em;
        padding-top: 5px;
    }

    .destination-div2 {
        font-size: 0.8em;
        padding-left: 40px;
    }

    .dropdown-text {
        font-size: x-large !important;
        font-weight: 500 !important;
    }

    .date-bar {
        width: 250px !important;
        font-size: x-large !important;
        border-style: none !important;
        font-weight: 500 !important;
    }

    .island-btn-dark {
        width: 300px;
        height: 50px;
        border-radius: 100px !important;
    }

    .header-heading {
        top: 45%;
        left: 15%;
        font-weight: 700;
        font-size: var(--main-heading-size);
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .header-text {
        font-weight: 500;
        font-size: 1rem;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .header-btn {
        width: 130px;
        height: 35px !important;
        padding-bottom: 20px !important;
        padding-top: 2px !important;
        font-size: large !important;
        font-weight: 500 !important;
    }

}

/* for hero image */

@media screen {
    .header-main {
        width: 100vw;
        height: 100vh;
    }

    .hero-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

@media screen and (min-width:768px) {
    .header-main {
        width: 100vw;
        height: auto;
    }

    .hero-img {
        width: 100%;
        height: 50vw;
        object-fit: cover;
        object-position: center;
    }
}

@media screen and (min-width:992px) {
    .header-main {
        width: 100vw;
        height: auto;
    }

    .hero-img {
        width: 100%;
        height: 50vw;
        object-fit: cover;
        object-position: center;

    }
}
/* middle box */
.middle-box {
    background-color: white;
    height: 120px; 
    overflow-x: auto; 
    overflow-y: hidden; 
}

/* footer */

.custom-footer {
    background-color: #1c1c1c; 
    font-family: Arial, sans-serif;
}

.footer-heading {
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 1.2rem;
}

.custom-footer ul li {
    margin-bottom: 8px;
}

.custom-footer ul li a {
    color: #ccc; 
    text-decoration: none;
    font-size: 0.85rem;
    transition: color 0.2s;
}

.custom-footer ul li a:hover {
    color: white;
    text-decoration: underline;
}

.social-icons a {
    color: white;
    font-size: 1.4rem;
    margin-right: 20px;
    text-decoration: none;
}

.copyright-text, .debug-text {
    font-size: 0.75rem;
    color: #aaa;
}

.debug-text {
    border-top: 1px solid #333;
    padding-top: 10px;
}


.clickable-section:hover {
    cursor: pointer;
    opacity: 0.8;
}


@media (max-width: 592px) {
    .middle-box h2 {
        font-size: 14px !important;
    }
    .middle-box p {
        font-size: 10px !important;
    }
    
    .box-img img {
        width: 70px !important;
    }
}
