.base-path-bar {
    background-color: rgb(28, 28, 28);
}

.path-bar {
    background-color: rgb(28, 28, 28);
    overflow-x: auto;
    overflow-y: hidden;
}
.path-bar::-webkit-scrollbar{
    display: none;
}
hr{
    height: 2px !important;
    width: 100% !important;
    color: white !important;
    opacity: 1 !important;
}

.linkTo-div {
    text-decoration: none;
    color: white;
}

.card {
    border-radius: 1.5vw !important;
}

.card img {
    border-radius: 1.5vw;
    width: 100%;
    height: auto;
}

.colorG {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.61) 39%, rgba(0, 0, 0, 0.09) 100%);
    border-radius: 1.5vw;
}

.card-md-title {
    padding-top: 15vw;

}
.content-fixed-div{
    display: none;
    background-color: rgb(28, 28, 28);
}
.content-fixed-div.active{
    display: block;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}