.base-path-bar {
    background-color: rgb(28, 28, 28);
}

.path-bar {
    background-color: rgb(28, 28, 28);
    overflow-x: auto;
    overflow-y: hidden;
}

.path-bar::-webkit-scrollbar {
    display: none;
}

hr {
    height: 2px !important;
    width: 100% !important;
    color: white !important;
    opacity: 1 !important;
}

.linkTo-div {
    text-decoration: none;
    color: white;
}

.card {
    border-radius: 1.5vw !important;
}

.card img {
    border-radius: 1.5vw;
    width: 100%;
    height: auto;
}

.colorG {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.61) 16%, rgba(0, 0, 0, 0) 30%);
    border-radius: 1.5vw;
}

.content-fixed-div {
    display: none;
    background-color: rgb(28, 28, 28);
}

.content-fixed-div.active {
    display: block;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

@media screen {
    .card-title-row1 {
        padding-top: 30vw;
    }
    .card-title-row2{
        padding-top: 110vw;
    }
}
@media screen and (min-width: 576px) {
    .card-title-row1 {
        padding-top: 35vw;
    }
    .card-title-row2{
        padding-top: 115vw;
    }
}
@media screen and (min-width: 768px) {
    .card-title-row1 {
        padding-top: 30vw;
    }
    .card-title-row2{
        padding-top: 53vw;
    }
}
@media screen and (min-width: 992px) {
    .card-title-row1 {
        padding-top: 17vw;
    }
    .card-title-row2{
        padding-top: 58vw;
    }
}
@media screen and (min-width: 1200px) {
    .card-title-row1 {
        padding-top: 18vw;
    }
    .card-title-row2{
        padding-top: 37vw;
    }
    .card-row2{
        width: 29.5vw !important;
    }
}
@media screen and (min-width: 1400px) {
    .card-title-row1 {
        padding-top: 15vw;
    }
    .card-title-row2{
        padding-top: 30vw;
    }
    .card-row2{
        width: 24.05vw !important;
    }
}