:root{
    --main-heading-size:2.5rem;
}
.header-main{
    background-color: aqua;
    position: relative;
}
.bar-col{
    background-color: rgba(0, 0, 0, 0);
}
.nav-bar{
    background-color: rgba(0, 0, 0, 0.5);
}
.header-text-small{
    font-size: 0.7rem !important;
}
body{
    overflow-x: hidden;
}

/* for hero text */


@media screen {
    
    .header-heading{
        top: 600px;
        left: 50px;
        font-weight: 700;
        font-size: 2.2rem;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .header-text{
        top: 660px;
        left: 50px;
        font-weight: 500;
        font-size: 1rem;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .header-btn{
        top: 700px;
        left: 50px;
        width: 100px;
        height: 30px !important;
        padding-bottom: 20px !important;
        padding-top: 2px !important;
        font-size: small !important;
        font-weight: 500 !important;
    }
    
}
@media screen and (min-width:768px) {
    
    .header-heading{
        top: 200px;
        left: 140px;
        font-weight: 700;
        font-size: 2.2rem;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .header-text{
        top: 260px;
        left: 140px;
        font-weight: 500;
        font-size: 1rem;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .header-btn{
        top: 310px;
        left: 140px;
        width: 100px;
        height: 30px !important;
        padding-bottom: 20px !important;
        padding-top: 2px !important;
        font-size: small !important;
        font-weight: 500 !important;
    }
    
}
@media screen and (min-width:992px) {
    
    .header-heading{
        top: 350px;
        left: 230px;
        font-weight: 700;
        font-size: var(--main-heading-size);
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .header-text{
        top: 420px;
        left: 230px;
        font-weight: 500;
        font-size: 1rem;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .header-btn{
        top: 490px;
        left: 230px;
        width: 130px;
        height: 35px !important;
        padding-bottom: 20px !important;
        padding-top: 2px !important;
        font-size: large !important;
        font-weight: 500 !important;
    }
    
}

/* for hero image */

@media screen {
    .header-main{
        width: 100vw;
        height: 100vh;
    }
    .hero-img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}
@media screen and (min-width:768px) {
    .header-main{
        width: 100vw;
        height: 70vh;
    }
    .hero-img{
        width: 100%;
        height: 70vh;
        object-fit: cover;
        object-position: center;
    }
}
@media screen and (min-width:992px) {
    .header-main{
        width: 100vw;
        height: 100vh;
    }
    .hero-img{
        width: 100%;
        height: 100vh;
        object-fit: cover;
        object-position: center;
        
    }
}
